body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container {
    padding: 25rem;
    max-width: 900px;
    margin: 0 auto;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.4; /* Ajuste a opacidade para visibilidade dos inputs */
}

.content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8); /* Fundo semitransparente para contraste */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar input, 
.search-bar select, 
.search-bar button {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.search-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.search-bar input, .search-bar select, .search-bar button {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.search-bar button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

.confirmation {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #3c763d;
}

.luxury, .seaside {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.easide {
    flex-direction: row-reverse; /* Inverte a ordem dos elementos */
}
